<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcu.public_examination_planet.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="com.gcu.public_examination_planet.domain.Course">
            <id property="courseId" column="course_id" jdbcType="INTEGER"/>
            <result property="courseOutline" column="course_outline" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="courseOrder" column="course_order" jdbcType="INTEGER"/>
            <result property="coursePrice" column="course_price" jdbcType="DOUBLE"/>
            <result property="courseType" column="course_type" jdbcType="VARCHAR"/>
            <result property="courseStatus" column="course_status" jdbcType="VARCHAR"/>
            <result property="courseTitle" column="course_title" jdbcType="VARCHAR"/>
            <result property="courseRate" column="course_rate" jdbcType="DOUBLE"/>
            <result property="coursePageAmount" column="course_page_amount" jdbcType="INTEGER"/>
            <result property="teacherId" column="teacher_id" jdbcType="INTEGER"/>
            <result property="courseRateCount" column="course_rate_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        course_id,course_outline,create_time,
        course_order,course_price,course_type,
        course_status,course_title,course_rate,
        course_page_amount,teacher_id,course_rate_count
    </sql>
</mapper>
