<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcu.public_examination_planet.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.gcu.public_examination_planet.domain.User">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userPhone" column="user_phone" jdbcType="VARCHAR"/>
            <result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
            <result property="userAvatarUrl" column="user_avatar_url" jdbcType="VARCHAR"/>
            <result property="userEmail" column="user_email" jdbcType="VARCHAR"/>
            <result property="userLevel" column="user_level" jdbcType="VARCHAR"/>
            <result property="teacherId" column="teacher_id" jdbcType="INTEGER"/>
            <result property="userCreateTime" column="user_create_time" jdbcType="TIMESTAMP"/>
            <result property="userGender" column="user_gender" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_name,user_phone,
        user_password,user_avatar_url,user_email,
        user_level,teacher_id,user_create_time,
        user_gender
    </sql>
</mapper>
